DB_NAME="package_delivery"
DB_USER="package-user"
DB_HOST="db"
DB_CHARSET="utf8mb4"
DB_PASSWORD="Super"
GEO_API="https://photon.komoot.io/api"
MYSQL_ROOT_PASSWORD=DB_PASSWORD
LANG=C.UTF-8
LC_ALL=C.UTF-8